<div style="display: inline-block; padding: 20px">
  <div class="heading">
    ngConf 2021
  </div>
  <br/>
  <div class="body">
    <img src="../../assets/pic1.png" width="500px" height="300px"/>
  </div>
  <span class="footer">
      <a href="" (click)="learnMore()">Learn More</a>
     </span>
</div>

<div style="display: inline-block; padding: 20px">
  <div class="heading">
    rockIT 2021
  </div>
  <br/>
  <div class="body">
    <img src="../../assets/pic2.png" width="500px" height="300px"/>
  </div>
  <span class="footer">
      <a href="" (click)="learnMore()">Learn More</a>
     </span>
</div>

<div style="display: inline-block; padding: 20px">
  <div class="heading">
    kCON 2021
  </div>
  <br/>
  <div class="body">
    <img src="../../assets/pic3.png" width="500px" height="300px"/>
  </div>
  <span class="footer">
      <a href="" (click)="learnMore()">Learn More</a>
     </span>
</div>
