<div class="grv-row grv-margin__top--tiny label-link">
  <a routerLink="/albums">Back To Albums</a>
</div>
<div class="grv-col--sm-9 grv-col--md-9 grv-col--lg-9">
  <div style="display: inline-block; padding: 20px">
    <div class="body">
      <img src="../../assets/album4.png" width="200px" height="300px" alt=""/>
    </div>
  </div>
  <div style="display: inline-block; padding: 20px">
    <div class="body">
      <img src="../../assets/album2.png" width="200px" height="300px"/>
    </div>
  </div>
  <div style="display: inline-block; padding: 20px">
    <div class="body">
      <img src="../../assets/album6.png" width="200px" height="300px"/>
    </div>
  </div>
</div>
